.wrapper {
    height: 100vh;
    min-height: 100%;
	display: flex;
	flex-direction: column;
}
.header {
    background: tomato;
    height: 60px;
}
.footer {
    background: cyan;
    height: 60px;
}
.content {
    flex: 1;
}